In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [4]:
#import the csv files
file1 = 'country_names.csv'
file2 = 'Demographics.csv'
file3 = 'Departures.csv'
#file4 = 'GDP_PerCapita.csv'
#file5 = 'human_freedom.csv'
file6 = 'IncomeGroup.csv'
file7 = 'persons_of_concern.csv'
file8 = 'Submissions.csv'

## read the files ith Pandas

In [13]:
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)
#df4 = pd.read_csv(file4)
#df5 = pd.read_csv(file5)
df6 = pd.read_csv(file6)
#df7 = pd.read_csv(file7)
df8 = pd.read_csv(file8)

## drop empty columns

In [14]:
df1.drop(columns= ['Display country name for titles',
                   'Display article for country',
                   'Notes'], inplace=True)

In [38]:
df1.drop([0], inplace=True)
df1.head()

  ISO3 country code Official UNHCR country name
1               AFG                 Afghanistan
2               ALB                     Albania
3               DZA                     Algeria
4               AGO                      Angola
5               ATG         Antigua and Barbuda

In [16]:
df2.drop(columns = ['Female (unknown age)',
                    'Male (unknown age)',
                    'Other/Unknown'], inplace=True)

In [17]:
df2.head()

,Year,Country of Origin (ISO),Country of Origin,Country of Resettlement (ISO),Country of Resettlement,Female 0-17,Female 18-59,Female 60+,Female Total,Male 0-17,Male 18-59,Male 60+,Male Total,Grand Total
0,2017,AFG,Afghanistan,AUS,Australia,193.0,203.0,11.0,407.0,173.0,238.0,8.0,419.0,826.0
1,2017,SYR,Syrian Arab Rep.,BEL,Belgium,294.0,315.0,15.0,624.0,417.0,308.0,8.0,733.0,1357.0
2,2017,SOM,Somalia,PRT,Portugal,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,2017,SYR,Syrian Arab Rep.,MLT,Malta,4.0,4.0,0.0,8.0,2.0,1.0,0.0,3.0,11.0
4,2017,ERI,Eritrea,SWE,Sweden,108.0,186.0,10.0,304.0,136.0,197.0,18.0,351.0,655.0

In [25]:
df3.drop(columns= ['Country of Asylum',
                   'Country of Asylum (ISO)',
                   'Country of Resettlement (ISO)',
                   'Country of Resettlement'], inplace=True)

In [28]:
df6.drop(columns = ['SpecialNotes',
                    'Unnamed: 5'], inplace=True)

In [31]:
df8.drop(columns = ['Country of Asylum',
                   'Country of Asylum (ISO)',
                   'Country of Resettlement (ISO)',
                   'Country of Resettlement'], inplace=True)

,Year,Country of Origin (ISO),Country of Origin,Total submissions (persons)
0,2016,AFG,Afghanistan,3374.0
1,2016,SYR,Syrian Arab Rep.,77254.0
2,2016,SDN,Sudan,5442.0
3,2016,IRQ,Iraq,12831.0
4,2016,ERI,Eritrea,3562.0
5,2016,BTN,Bhutan,5407.0
6,2016,All others,All others,9625.0
7,2016,SOM,Somalia,10756.0
8,2016,MMR,Myanmar,10079.0
9,2016,IRN,Iran (Islamic Rep. of),2052.0
10,2016,COD,Dem. Rep. of the Congo,22824.0
11,2017,IRN,Iran (Islamic Rep. of),785.0
12,2017,COD,Dem. Rep. of the Congo,12936.0
13,2017,AFG,Afghanistan,2172.0
14,2017,SYR,Syrian Arab Rep.,37332.0
15,2017,SDN,Sudan,2324.0
16,2017,IRQ,Iraq,3040.0
17,2017,ERI,Eritrea,2947.0
18,2017,BTN,Bhutan,139.0
19,2017,All others,All others,5583.0
20,2017,SOM,Somalia,2584.0
21,2017,MMR,Myanmar,5346.0
22,2018,MMR,Myanmar,2950.0
23,2018,IRN,Iran (Islamic Rep. of),491.0
24,2018,COD,Dem. Rep. of the Congo,21807.0
25,2018,AFG,Afghanistan,3995.0
26,2018,SYR,Syrian Arab Rep.,28189.0
27,2018,SDN,Sudan,2907.0
28,2018,IRQ,Iraq,2838.0
29,2018,ERI,Eritrea,4288.0
30,2018,BTN,Bhutan,3.0
31,2018,All others,All others,10803.0
32,2018,SOM,Somalia,3066.0
33,2019,All others,All others,11412.0
34,2019,SOM,Somalia,4393.0
35,2019,MMR,Myanmar,2358.0
36,2019,IRN,Iran (Islamic Rep. of),381.0
37,2019,COD,Dem. Rep. of the Congo,18997.0
38,2019,AFG,Afghanistan,5892.0
39,2019,SYR,Syrian Arab Rep.,29660.0
40,2019,SDN,Sudan,2818.0
41,2019,IRQ,Iraq,2606.0
42,2019,ERI,Eritrea,3147.0
43,2019,BTN,Bhutan,7.0
44,2020,All others,All others,2950.0
45,2020,SOM,Somalia,869.0
46,2020,MMR,Myanmar,286.0
47,2020,IRN,Iran (Islamic Rep. of),41.0
48,2020,COD,Dem. Rep. of the Congo,2223.0
49,2020,AFG,Afghanistan,725.0
50,2020,SYR,Syrian Arab Rep.,7682.0
51,2020,SDN,Sudan,724.0
52,2020,IRQ,Iraq,556.0
53,2020,ERI,Eritrea,918.0
54,NaN,NaN,NaN,NaN
55,Some data presented may differ from statistics...,NaN,NaN,NaN